{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>sign up</title>
    <style>
        @media (min-width: 640px) {
          /* Show the menu links on larger screens */
          .sm\\:block {
            display: block;
          }
      
          /* Hide the mobile menu button on larger screens */
          .sm\\:hidden {
            display: none;
          }
      }
          </style>

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>
<body class="bg-[url('{% static 'assets/img/login/bgcover.jpg' %}')] bg-cover">
    <header class="container flex-orw flex justify-between items-center mx-auto h-14 py-14">
      
          <nav class="bg-transparent">
            <div class="container mx-auto flex justify-between items-center">
              
             
          
              <!-- Mobile menu button (hidden on larger screens) -->
              <div class="block sm:hidden">
                <button class="text-white hover:text-gray-400 focus:outline-none">
                  <!-- <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="M4.293 6.293l1.414-1.414 9 9-9 9-1.414-1.414L11.586 12z"
                    />
                  </svg> -->
                   
              <div class="toggle text-3xl text-white cursor-pointer ml-10"><i class='bx bx-menu' ><box-icon name='menu' ></box-icon></i></div>
              <div class="dropdown">
                <div class="hidden sm:block">
                    <ul class="flex space-x-4">
                      <li><a href="http://127.0.0.1:8000/" class="text-white hover:text-gray-400 font-bold">Home</a></li>
                      <!-- <li><a href="#" class="text-white hover:text-gray-400 font-bold">About</a></li>
                      <li><a href="#" class="text-white hover:text-gray-400 font-bold">Services</a></li>
                      <li><a href="#" class="text-white hover:text-gray-400 font-bold">Contact</a></li> -->
                    </ul>
                  </div>
              </div>
                </button>
              </div>
          
              <!-- Menu links (hidden on smaller screens) -->
              <div class="hidden sm:block">
                <ul class="flex space-x-4">
                  <li><a href="http://127.0.0.1:8000/" class="text-white hover:text-gray-400 font-bold">Home</a></li>
                  <!-- <li><a href="#" class="text-white hover:text-gray-400 font-bold">About</a></li>
                  <li><a href="#" class="text-white hover:text-gray-400 font-bold">Services</a></li>
                  <li><a href="#" class="text-white hover:text-gray-400 font-bold">Contact</a></li> -->
                </ul>
              </div>
            </div>
          </nav>

          <!-- search ber -->
        <!-- <div class="relative flex items-center">
            <input type="text" placeholder="Search..." class="pr-7 p-3 border-[1px] h-10 bg-transparent outline-none rounded text-white text-white"/>
            <span class="absolute right-2 text-white font-bold"><button type="submit"><i class='bx bx-search'></i></button></span>
        </div> -->
        <!-- close search ber -->

    </header>


    <section class="container sm:flex flex-col mx-auto flex lg:flex-row justify-between items-center p-16 bg-gray-700 bg-opacity-25 text-white mt-10 rounded">
        <div class="lg:w-[500px] sm:w-300">
            <h2 class="text-5xl font-bold">Name</h2>
            <div class="mt-20">
                <h1 class="text-3xl font-bold">Welcome!</h1>
                <h4 class="text-xl font-bold ">To our new Website</h4>
                <p class="text-gray-300 mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam sint error eos tempore sequi explicabo autem amet, nobis ullam quia, fugiat suscipit vero</p>

                <div class="mt-5 text-3xl">
                    <i class='bx bxl-facebook-circle mr-2 cursor-pointer' ></i>
                    <i class='bx bxl-linkedin mr-2 cursor-pointer' ></i>
                    <i class='bx bxl-twitter mr-2 cursor-pointer' ></i>
                    <i class='bx bxl-instagram cursor-pointer' ></i>
                </div>
            </div>
        </div>


        <div class="w-[600px] bg-gray-900 bg-opacity-40 p-16 rounded overflow-hidden">
            <h3 class="text-3xl font-bold text-center pb-10">Sign up</h3>

              <form action="/">

                <div class="flex flex-row items-center justify-between">
                    <input type="text" placeholder="First Name" class="w-[100%] mr-3 p-3 outline-none bg-transparent border-b-[1px]">
                    <input type="text" placeholder="Last Name" class="w-[100%] mr-3 p-3 outline-none bg-transparent border-b-[1px]">
                    <input type="text" name="" placeholder="Email/Phone" class="w-[100%] p-3 outline-none bg-transparent border-b-[1px]">

                </div>


                

                <!-- dd/mm/yyyy -->

                <div class="flex flex-row justify-between items-center mt-5">
                    <input type="date" name="" class="w-[100%] mr-5 p-2 bg-transparent text-gray-400 outline-none" />
                    <select name="" class="w-[100%] p-2 bg-transparent text-gray-400 outline-none mr-5">
                        <option value="">Select Your Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="custom">Custom</option>
                    </select>

                    <select name="" class="w-[100%] p-2 bg-transparent text-gray-400 outline-none mr-5">
                        <option value="">Occupation</option>
                        <option value="male">Student</option>
                        <option value="female">Job Holders</option>
                        <option value="custom">Others</option>
                    </select>

                    <select name="" class="w-[100%] p-2 bg-transparent text-gray-400 outline-none">
                        <option value="barishal">Barishal</option>
                    </select>
                </div>

                <div class="mt-8">
                    <label for="" class="block text-xl font-bold text-gray-200">Address</label>
                    <div class="flex flex-row justify-between items-center mt-5">
                        <input type="text" name="" placeholder="House/Bulding/area" class="w-[100%] mr-5 p-3 text-white bg-transparent outline-none border-b-[1px]">
                        <input type="text" name="" placeholder="optional - (Address-2)" class="w-[100%] p-3 text-white bg-transparent outline-none border-b-[1px]">
                    </div>
                </div>


                <div class="flex flex-row justify-between items-center mt-5">
                    <input type="password" name="" placeholder="6 digit Password" class="w-[100%] mr-5 p-3 bg-transparent outline-none border-b-[1px]">
                    <input type="password" name="" placeholder="Confirm Password" class="w-[100%] p-3 bg-transparent outline-none border-b-[1px]">
                </div>




                <input type="submit" value="Sign up" class="w-[100%] p-3 bg-red-500 rounded mt-10 cursor-pointer hover:bg-red-700 ease-in-out duration-300">
             </form>

            <p class="text-center mt-5 text-gray-300">Have an account? <a href="/login/" class="font-bold text-white underline">Sign in</a></p>
        </div>
    </section>
    
</body>
</html>

